<!DOCTYPE html>
<html lang="en" ng-app="Metronome">

<head>
    <meta charset="UTF-8">
    <title>Studio Metronome</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="css/default_theme.css"> -->
    <link rel="stylesheet" href="css/studio_theme.css">
</head>

<body>

    <div class="container" ng-cloak>
        <div class="mmetronome mframe"
             ng-controller="metronomeController as metronomeCtrl">
            <div>
                <span class="mlogo">Studio Metronome</span>
            </div>
            <table>
                <tr>
                    <td><button type="button"
                                class="mbpmbutton mbutton mframe pull-right"
                                ng-click="metronomeCtrl.changeBpm(-1)"> -1 </button>
                    </td>
                    <td rowspan="3">
                        <div class="mframe mbpm">
                            <input type="text"
                            class="form-control"
                            value="120"
                            ng-class="metronomeCtrl.tickClass"
                            ng-model="metronomeCtrl.bpm"
                            ng-change="metronomeCtrl.changeBpm()">
                        </div>
                    </td>
                    <td><button type="button"
                                class="mbpmbutton mbutton mframe pull-right"
                                ng-click="metronomeCtrl.changeBpm(1)"> +1 </button>
                    </td>
                </tr>
                <tr>
                    <td><button type="button"
                                class="mbpmbutton mbutton mframe pull-right"
                                ng-click="metronomeCtrl.changeBpm(-5)"> -5 </button>
                    </td>
                    <td><button type="button"
                                class="mbpmbutton mbutton mframe pull-right"
                                ng-click="metronomeCtrl.changeBpm(5)"> +5 </button>
                    </td>
                </tr>
                <tr>
                    <td><button type="button"
                                class="mbpmbutton mbutton mframe pull-right"
                                ng-click="metronomeCtrl.changeBpm(-10)"> -10 </button>
                    </td>
                    <td><button type="button"
                                class="mbpmbutton mbutton mframe pull-right"
                                ng-click="metronomeCtrl.changeBpm(10)"> +10 </button>
                    </td>
                </tr>
            </table>
            <div class="mslider">
                <input id="slider"
                type="range"
                min="0"
                max="300"
                step="1"
                ng-model="metronomeCtrl.bpm"
                ng-click="metronomeCtrl.restart()"
                value="{{metronomeCtrl.bpm}}"
                />
            </div>
            <div class="container">
                <button type="button"
                class="mbutton mframe mstartstop"
                id="startstop"
                ng-model="metronomeCtrl.state"
                ng-click="metronomeCtrl.startstop()">
                    {{metronomeCtrl.state}}
                </button>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="js/metronome.js"></script>

</body>
</html>